openai==1.98.0
sentence-transformers
scikit-learn
pandas==2.1.1
openpyxl==3.1.2
streamlit
streamlit-extras
fastapi==0.103.2
uvicorn==0.30.0
pydantic==1.10.12
python-multipart==0.0.9
python-dotenv
requests
pdfplumber==0.10.3
PyPDF2==3.0.1
PyMuPDF==1.24.1
spacy==3.7.4
camel-tools==1.4.1
regex==2024.5.15
